@font-face {
    font-family: 'Metropolis';
    src: url('/assets/fonts/Metropolis-Regular.otf'),
    url('/assets/fonts/Metropolis-Regular.eot'),
    url('/assets/fonts/Metropolis-Regular.woff2') format('woff2'),
    url('/assets/fonts/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Metropolis';
    src: url('/assets/fonts/Metropolis-Thin.otf'),
    url('/assets/fonts/Metropolis-Thin.eot'),
    url('/assets/fonts/Metropolis-Thin.woff2') format('woff2'),
    url('/assets/fonts/Metropolis-Thin.woff') format('woff');
    font-weight: thin;
    font-style: normal;
  }

  @font-face {
    font-family: 'Metropolis';
    src: url('/assets/fonts/Metropolis-Bold.otf'),
    url('/assets/fonts/Metropolis-Bold.eot'),
    url('/assets/fonts/Metropolis-Bold.woff2') format('woff2'),
    url('/assets/fonts/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }