html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Metropolis';
  min-width: 240px;
}

html {
    background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0,0, 0, 0.50)), url(/assets/img/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }

.routes-container{
  height: 100%;
}
.container{
  height: 100%;
}

.block-scroll{
  overflow: hidden;
}