.photo-viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  padding: 20px;
  padding-top: 50px;
  box-sizing: border-box;
}

.photo-viewer-img {
  width: 100%;
  height: 100%;
}

.photo-viewer-info {
  position: fixed;
  top: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 0.8em;
}

.photo-viewer-info div{
  margin-right: 60px;
}

.photo-viewer-close-button {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: 0;
  box-shadow: 0px 0px 1px white;
  cursor: pointer;
}