.photos-grid {
  overflow: hidden;
  margin: 10px;
}

.photo-grid-box {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
}

.photo-grid-content {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 1px white;
  background-color: rgba(255, 255, 255, 0.5);
}

.photo-grid-content i{
  position: absolute;
  color: white;
}

.photo-grid-content img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 2;
}

@media only screen and (max-width: 480px) {
  .photo-grid-box {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media only screen and (max-width: 650px) and (min-width: 481px) {
  .photo-grid-box {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 651px) {
  .photo-grid-box {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}

@media only screen and (max-width: 1290px) and (min-width: 1051px) {
  .photo-grid-box {
    width: 25%;
    padding-bottom: 25%;
  }
}

.photos-grid-info-message {
  text-align: center;
  margin: 20px;
  color: white;
}

.photo-grid-info {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.photo-grid-content:hover {
  .photo-grid-info {
    transition: opacity 0.2s ease-in;
    opacity: 1;
  }
}

.photo-grid-info span {
  position: absolute;
  text-overflow: ellipsis;
  color: black;
  top: 30px;
  padding: 10px;
}

.photo-grid-user {
  color: white;
  margin: 0;
  border: 0;
  position: absolute;
  top: 0px;
  left: 0;
  height: 30px;
  width: 100%;
  background-color: rgba(8, 146, 208, 0.6);
  cursor: pointer;
}

.photo-grid-user:hover {
  background-color: rgba(8, 146, 208, 0.9);
}