.search-bar {
  width: 50%;
}

@media (max-width: 800px) {
  .search-bar {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .search-bar {
    width: 75%;
  }
}

@media (max-width: 400px) {
  .search-bar {
    width: 90%;
  }
}

.search-bar input {
  margin: 0;
  width: 80%;
  position: relative;
  border: 0;
  padding: 0;
  height: 30px;
  text-align: center;
  box-shadow: 0 0 1px #606060;
  color: #606060;
}

.search-bar button {
  margin: 0;
  border: 0;
  position: relative;
  width: 20%;
  height: 31px;
  cursor: pointer;
  background-color: #0892D0;
  color: #FFF;
}

.home-search-bar {
  width: 100%;
}