.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.home center{
  width: 100%;
}

.home .title{
  font-size: x-large;
  text-shadow: 0px 0px 5px;
  color: white;
}

.home .search-bar{
  margin-top: 10px;
}